.popup {
    max-width: 630px;
    height: 300px;
}

.tab-item a {
    height: 65px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

ul {
    list-style-type: none;
}

.tile-content small {
    display: block;
}