#main {
  width: 630px;
  min-height: 80px;
}

.tab-item a {
  height: 65px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

ul {
  list-style-type: none;
}

.tile-content small {
  display: block;
}

/* Next Gen Images */

#images-content img {
  max-width: 140px;
}

/* Spectre Overrides */

.label {
  background: #5755d9;
  color: #ffffff;
}